<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <i class="fab fa-github-square fa-2x"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
