<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ site.baseurl }}/">Home</a>
            </li>
            {% for page in site.pages %}{% if page.title %}
            {% if page.url != '/404.html' %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endif %}{% endfor %}
        </ul>
    </div>
    <!-- /.container -->
</nav>
